:root {
    /* Primary */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: Public Sans, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

/* Deleting default outline when focusing an input */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

header,
.main__advantages,
.main__latest-articles,
footer {
    padding: 0 6em;
}

a {
    text-decoration: none;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

button {
    background: var(--limeGreen);
    background: linear-gradient(90deg, var(--limeGreen) 0%, var(--brightCyan) 100%);
    color: var(--white);
    border: none;
    padding: 0.8em 2.2em;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

h1,
h2,
h3 {
    color: var(--darkBlue);
    font-weight: 400;
}

p,
pre {
    color: var(--grayishBlue);
}

.hidden {
    display: none;
}

/* Header */

header {
    position: relative;
    display: flex;
    padding-top: 1.5em;
    padding-bottom: 1.1em;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    z-index: 2;
}

.header__menu__items {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.header__menu__items li {
    list-style: none;
}

.header__menu__items li a {
    color: var(--grayishBlue);
    padding-bottom: 1.7em;
}

.header__hamburger {
    display: none;
}

/* Overview section */

.main__overview {
    position: relative;
    display: grid;
    height: 36em;
    grid-template-columns: 6em 32% auto 6em;
    grid-template-rows: 100%;
    background-color: var(--veryLightGray);
    z-index: 0;
}

.main__overview__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 2 / 3;
}

.main__overview__info h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.main__overview__info p {
    line-height: 1.5em;
    margin-bottom: 2em;
}

.main__overview__background {
    height: 100%;
    grid-column: 3 / 5;
    background-image: url(../img/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0 /*-17.2em*/ 80%;
    overflow: hidden;
}

.main__mockup {
    width: 44%;
    position: absolute;
    top: -1.4em;
    right: 0em;
    z-index: 0;
    overflow: hidden visible;
}

/* Advantages section */

.main__advantages {
    position: relative;
    background-color: var(--lightGrayishBlue);
    padding-top: 5em;
    padding-bottom: 5em;
    z-index: -1;
}

.main__advantages__info h1,
.main__latest-articles h1 {
    font-size: 2.2em;
    margin-bottom: 1em;
}

.main__advantages__info p {
    width: 37em;
    line-height: 1.5em;
    padding-bottom: 4em;
}

.main__advantages__container {
    display: flex;
    justify-content: space-between;
}

.item__icon {
    margin-bottom: 2em;
}

.advantages__container__item {
    width: 14.9em;
}

.advantages__container__item h2 {
    margin-bottom: 1.5em;
    font-size: 1.4em;
}

.advantages__container__item p {
    font-size: 0.9em;
    line-height: 1.5em;
}

/* Latest articles section */

.main__latest-articles {
    background-color: var(--veryLightGray);
    padding-top: 5em;
    padding-bottom: 5em;
}

.main__latest-articles__container {
    display: flex;
    justify-content: space-between;
}

.latest-articles__container__item {
    background-color: var(--white);
    width: 15.5em;
    padding-bottom: 0.3em;
}

.latest-articles__container__item p,
.latest-articles__container__item h3 {
    padding: 0 27px;
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.container__item__img {
    width: 100%;
    height: 11.2em;
    margin-bottom: 2em;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
}

.latest-articles__container__item .author {
    font-size: 0.7em;
}

.latest-articles__container__item .author,
.latest-articles__container__item h3 {
    margin-bottom: 1em;
}

.latest-articles__container__item p {
    font-size: 0.8em;
    line-height: 1.5em;
}

#latestItem01 .container__item__img {
    background-image: url(../img/image-currency.jpg);
    background-size: cover;
}

#latestItem02 .container__item__img {
    background-image: url(../img/image-restaurant.jpg);
    background-size: cover;
}

#latestItem03 .container__item__img {
    background-image: url(../img/image-plane.jpg);
    background-size: cover;
}

#latestItem04 .container__item__img {
    background-image: url(../img/image-confetti.jpg);
    background-size: cover;
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 6em auto;
    background-color: var(--darkBlue);
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.footer__social {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__social__icons {
    width: 10em;
    display: flex;
    justify-content: space-between;
}

.footer__social__icons svg path {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.footer__social__icons svg {
    cursor: pointer;
}

.social__logo__name {
    fill: white;
}

.footer__nav {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.footer__nav__items {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer__nav__items li {
    width: fit-content;
    list-style-type: none;
    margin-bottom: 0.8em;
}

.footer__nav__items a {
    color: var(--white);
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.footer__copy {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: flex-end;
    text-align: right;
}

.footer__copy p {
    margin-top: 2em;
}

.attribution {
    color: var(--white);
    margin-top: 2.5em;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.attribution a {
    color: var(--limeGreen);
}

/* Hovers */
/* TODO: Changing the border color to a gradient when hover */
.header__menu__items li a:hover {
    color: var(--darkBlue);
    border-bottom: 5px solid var(--limeGreen);
}

button:hover {
    opacity: 0.5;
}

.latest-articles__container__item h3:hover {
    color: var(--limeGreen);
    cursor: pointer;
}

.footer__nav__items a:hover {
    color: var(--limeGreen);
}

.footer__social__icons svg:hover path {
    fill: var(--limeGreen);
}