:root {
    /* Primary */
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    /* Neutral */
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: Public Sans, sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

/* Deleting default outline when focusing an input */

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

