@media screen and (max-width: 425px) {
    :root {
        --darkBlue: hsl(233, 26%, 24%);
    }

    header,
    .main__overview__info,
    .main__advantages,
    .main__latest-articles,
    footer {
        padding: 0 1.5em;
    }

    button {
        font-size: 1em;
        padding: 1em 2em;
    }

    p,
    a {
        font-size: 0.8em;
    }

    /* Header */

    header {
        display: flex;
        width: 100vw;
        justify-content: space-between;
        padding-top: 1.5em;
        padding-bottom: 1em;
    }

    .header__request-invite {
        display: none;
    }

    .header__hamburger {
        display: block;
        height: 100%;
    }

    .header__menu__items {
        position: fixed;
        width: 90vw;
        left: 0;
        margin: 2.5em 1em;
        padding: 1.2em 0 0 0;
        background-color: white;
        border-radius: 5px;
        flex-direction: column;
        text-align: center;
        z-index: 0;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}

    .header__menu__items li {
        height: 2.7em;
    }

    .header__menu__items li a {
        font-size: 1em;
        color: var(--darkBlue);
    }

    .modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(180deg, var(--darkBlue) 0%, rgba(0, 0, 0, 0) 100%);
        transform: translate(-1.5em, 21.2em);
        z-index: 1;
        -webkit-transform: translate(0, -3.9em);
        -moz-transform: translate(-1.5em, 21.2em);
        -ms-transform: translate(-1.5em, 21.2em);
        -o-transform: translate(-1.5em, 21.2em);
    }

    /* Overview section */

    .main__overview {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 16em auto;
    }

    .main__overview__background {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-image: url(../img/bg-intro-mobile.svg);
        background-position: 0 -2.9em;
        background-repeat: no-repeat;
    }

    .main__overview__background img {
        width: 100%;
        transform: translate(0, -7.3em);
        -webkit-transform: translate(0, -7.3em);
        -moz-transform: translate(0, -7.3em);
        -ms-transform: translate(0, -7.3em);
        -o-transform: translate(0, -7.3em);
    }

    .main__overview__info {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-align: center;
    }

    .main__overview__info h1 {
        font-size: 2em;
    }

    .main__overview__info button {
        margin-bottom: 2em;
    }

    /* Advantages section*/

    .main__advantages {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    .main__advantages__info {
        text-align: center;
    }

    .main__advantages__info h1 {
        font-size: 2em;
    }

    .main__advantages__info p {
        width: 100%;
    }

    .main__advantages__container {
        flex-direction: column;
    }

    .advantages__container__item {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5em;
    }

    /* Latest articles section */

    .main__latest-articles {
        text-align: center;
        padding-top: 4em;
        padding-bottom: 4em;
    }

    .main__latest-articles h1 {
        font-size: 2em;
    }

    .main__latest-articles__container {
        flex-direction: column;
    }

    .latest-articles__container__item {
        width: 100%;
        text-align: left;
        padding-bottom: 3em;
        margin-bottom: 1.5em;
    }

    /* Footer */

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    .footer__social {
        height: 4em;
        align-items: center;
        margin-bottom: 2em;
    }

    .footer__nav__items {
        align-items: center;
        margin-bottom: 1em;
    }

    .footer__copy {
        text-align: center;
    }

    .attribution {
        text-align: center;
        font-size: 14px;
    }

    .attribution a {
        font-size: 14px;
    }

    /* Hovers */
    .header__menu__items li a:hover {
        color: var(--darkBlue);
        border-bottom: none;
    }

    button:hover {
        opacity: 0.5;
    }

    .latest-articles__container__item h3:hover {
        color: var(--limeGreen);
        cursor: pointer;
    }

    .footer__nav__items a:hover {
        color: var(--limeGreen);
    }

    .footer__social__icons svg:hover path {
        fill: var(--limeGreen);
    }
}